<h1 class="item container"><%= link_to "| Characters | + |", new_character_path %></h1>
<hr>
<div class="container">
	<% @characters.each do |character| %>
		<div class="item">
			<p class="offset"><%= link_to 'Edit', edit_character_path(character) %> <%= link_to 'Delete', character,
            	method: :delete,
            	data: { confirm: 'Are you sure you want to delete?' } %></p>
			<h1><%= link_to character.name, character_path(character.id) %></h1>
			<h3><%= link_to "House #{character.house.name}", house_path(character.house.id) %></h3>
			<img src="<%= character.img_url %>" width="400px" height="auto">
		</div>
	<% end %>
</div>